body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;

    background-color: #000000;
    background-image: url("../img/layer.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page {
    color: #000000;
 
    background-color: #f8f5f2;
    background-image: url("../img/back-block.jpg");
    background-size: 1200px auto;
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page .container {
    margin-bottom: 49px;
}

.inner-page .main-header {
    margin-bottom: 50px;
    background-color: #000000;  

    min-height: 70px;
}

.inner-page .main-navigation {
    align-items: flex-start;
    flex-direction: row;
    
    min-height: 70px;
}

.inner-page .user-navigation {
    margin-left: auto; 
}
.inner-page .main-header-logo {
    order: 0;

    width: 111px;
    height: 24px;
    padding: 23px 20px;
}

a {
    text-decoration: none;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 75px;

    min-height: 285px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
 
    background-color: #000000;

    min-height: 285px;
    background-color: transparent;
}
.main-header-logo {
    order: 2;
    width: 368px;
    height: 153px;

    display: block;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;

    background-color: #000000;

    min-height: 70px; 
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    display: flex;
    width: 628px;
    min-height: 70px;
    
}

.user-navigation {
    width: 140px;
}

.site-navigation,
.user-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.site-navigation-current {
    border-bottom: 4px solid #ffffff
}

.features-list {
    list-style: none;

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 85px;

    min-height: 170px;
}

.feature-item {
    text-align: center;
  
    width: 300px;
}

.feature-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    padding: 50px 80px;

    color: #000000;

    background-color: #f8f5f2;
    background-image: url("img/back-block.jpg");
    background-repeat: repeat;
    background-position: 0 0;
}

.index-column h2 {
    font-size: 30px;
    line-height: 42px;
}
/*дописать код*/
.news {
    width: 380px;

    min-height: 315px;
}

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 33px;
}

.news-list time {
    text-transform: none;
}

.gallery {
    width: 300px;

    min-height: 315px;
}

.contacts {
    width: 380px;

    min-height: 285px
}

.appointment {
    width: 300px;

    min-height: 335px;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
    height: 164px;
}

.button {
    font: inherit; 

    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    border: none;
    background-color: #000000;
    color: #ffffff;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.appointment-item input {
    border: 2px solid #000000;
    font: inherit;
    background-color: transparent; 
}

.appointment-item input:focus {
    border: 2px solid #663d15;
}

.main-footer {
    padding: 60px 0;
    margin-top: 65px;
    
    color: #ffffff;

    background-color: #252525;
    background-image: url("../img/footer-layer.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer .container {
    display: flex;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;
    padding: 0;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
    width: 140px;
    min-height: 80px;
    margin-right: 260px;
}

.footer-social ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin: 0;
    padding: 0;
}

.social-button {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.footer-copyright {
    text-align: center;
    width: 140px;
    min-height: 80px;
    margin: 0;
    padding: 0;
}

.footer-copyright .button {
    margin-top: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
    background-color: #ffffff;
}

.modal {
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("../img/back-block.jpg");
    background-position: 0 0 ;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus,
.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}

/*catalog*/
.page-title {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    min-height: 24px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    min-height: 24px;    
}

.breadcrumbs a {
    color: #000000; 
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #bebcba
}

.site-navigation a,
.user-navigation {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.filters {
    width: 180px;
    border: 1px black solid;

    min-height: 687px;
    margin: 0;
    padding: 0;
}

.filters ul {
    list-style: none;
    line-height: 18px;
    margin: 0;
    padding: 0;

}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #663d15;
}

.filter-input:disabled + label {
    color: #bebcba;
    opacity: 0.5
}

.filters fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

}

.catalog {
    width: 700px;
    margin: 0;
    padding: 0;
    min-height: 687px;
    border: 1px solid black;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap; 

    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    list-style: none;
}

.catalog-item {
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;

    min-height: 285px;

    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
 
.catalog-category {
    text-transform: none;
}

.catalog-item-price b,
.catalog-price {
    background-color: #e5e5e5;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
} 

.catalog-item-price .button {
    line-height: 20px;
    color: #ffffff;
}

 .pagination-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 47px;
    border: 1px solid #000;
}
 .pagination-item a {
    background-color: #000000;
    color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a,
.pagination-item-current a:hover  {
    background-color: #ffffff;
    color: #000000
}

.inner-page .main-footer {
    margin-top: 45px;
    
}


/*catalog-item*/
.product-photo {
    width: 460px;

    min-height: 677px;
}

.product-info {
    width: 390px;

    min-height: 677px;
}

.product-photo-preveiw {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-photo-full {
    width: 460px;
    height: 498px;
}

.product-photo-preveiw li {
    width: 140px;
    height: 149px;
    margin-right: 20px;
}

.product-photo-preveiw li:nth-child(3n) {
    margin-right: 0;
}

.product-photo-full,
.product-photo-preveiw li {
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1)
}

.product-photo-full img:hover,
.product-photo-preveiw li:hover {
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)
}

.product-article {
    color: #aeaeae;
    text-align: right;
}

.product-info h3 {
    font-size: 24px;
    line-height: 30px;
}

.product-info ul {
    list-style: none;
}