body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;

    background-color: #000000;
    background-image: url("../img/layer.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page {
    color: #000000;
 
    background-color: #f8f5f2;
    background-image: url("../img/back-block.jpg");
    /* background-size: 100% 1200px auto*/;
    background-position: top center;
    background-repeat: repeat;
}

.inner-page .container {
    margin-bottom: 49px;
}

.inner-page .main-header {
    margin-bottom: 50px;
    background-color: #000000;  

    min-height: 70px;
}

.inner-page .main-navigation {
    align-items: flex-start;
    flex-direction: row;

    width: 940px;
    margin: 0 auto;
    
    min-height: 70px;
}

.inner-page .user-navigation {
    margin-left: auto; 
}
.inner-page .main-header-logo {
    order: 0;

    width: 111px;
    height: 24px;
    padding: 23px 20px;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 75px;

    min-height: 285px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
 
    background-color: #000000;

    min-height: 285px;
    background-color: transparent;
}
.main-header-logo {
    order: 2;
    width: 368px;
    height: 153px;

    display: block;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;

    background-color: #000000;

    min-height: 70px; 
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    display: flex;
    width: 628px;
    min-height: 70px;
    
}

.user-navigation {
    display: flex;
    max-width: 140px;
}

.site-navigation,
.user-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;

    vertical-align: middle;
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}

.user-navigation .login-link::before {
    content: "";

    position: absolute;
    top: 29px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url("../img/login.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}
.login-link:focus::before,
.login-link:hover::before,
.login-link:active::before {
    opacity: 1;
}
.site-navigation-current {
    position: relative;
}
.site-navigation-current::after {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 4px;
    background-color: #ffffff;
}

.features-list {
    list-style: none;

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 85px;

    min-height: 170px;
}

.feature-item {
    text-align: center;
  
    width: 300px;
}

.feature-item h3 {
position: relative;

    margin: 0;
    margin-bottom: 60px;
    
    font-size: 30px;
    line-height: 42px;
}

.feature-item h3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    
    width: 20px;
    height: 20px;

    margin-left: -10px;

    background-color: #f7f4f1;
    
    transform: rotate(45deg);
}

.feature-item p {
    margin: 0 10px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    padding: 50px 80px;

    color: #000000;

    background-color: #f8f5f2;
    background-image: 
        url("../img/vertical-line.png"),
        url("../img/back-block.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center, 0 0;
}

.gallery-button-back {
    margin-right: 20px;
}

.index-column h2 {
    font-size: 30px;
    line-height: 42px;
}

.news {
    width: 380px;

    min-height: 315px;
}

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}


.news h2 {
    margin-bottom: 25px;
}

.news-item {
    margin-bottom: 25px;
}

.news-item p {
    margin: 0;
}

.news-list time {
    text-transform: none;
    font-size: 14px;
    line-height: 24px;
}

.gallery {
    width: 305px;

    min-height: 315px;
}

.contacts {
    width: 380px;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}


.gallery-container {
    position: relative; 

    height: 260px;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
    margin: 0;
    padding: 0;
    width: 286px;
    height: 164px;

}

.gallery-button {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-button-back {
    left: 0;
}

.gallery-button-next {
    right: 0;
}


.button {
    display: inline-block;
    padding: 10px 30px;
    font: inherit; 

    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    border: none;
    background-color: #000000;
    color: #ffffff;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}



.appointment {
    width: 300px;

    min-height: 335px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item {
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
}

.appointment-item input {
    border: 2px solid #000000;
    font: inherit;
    background-color: transparent; 
    box-sizing: border-box;
    width: 140px;
    padding: 8px 15px;
}

.appointment-item label {
    display: block;
    margin-bottom: 9px;
    margin-left: 15px;
}

.appointment-form button {
    width: 100%;
    margin-top: 10px;
}

.appointment-item input:focus {
    border: 2px solid #663d15;
}

.main-footer {
    padding: 60px 0 40px 0;
    margin-top: 65px;
    
    color: #ffffff;

    background-color: #252525;
    background-image: url("../img/footer-layer.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer .container {
    display: flex;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;
    padding: 0;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
    width: 140px;
    margin-right: 260px;
}

.footer-social ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    margin: 0;
    padding: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    color: #ffffff;
    margin: 0;
    padding: 0;

    background-color: #000000;
}

.social-button:hover,
.social-button:focus {
    background-color: #ffffff;
}
.social-button:hover path,
.social-button:focus path {
    fill: #000000;
}

.footer-copyright {
    text-align: center;
    width: 140px;
    margin: 0;
    padding: 0;
}

.footer-copyright b {
    margin-bottom: 15px;
}
.footer-copyright .button {
    display: block;
    margin-right: 0; 
}
/*
.footer-copyright .button {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}*/

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
    background-color: #ffffff;
}

/*catalog*/
.page-title {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    min-height: 24px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;  
}

.breadcrumbs li {
    margin-right: 40px;
    position: relative;
}

.breadcrumbs li:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 8px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    margin-right: -24px;
    transform: rotate(45deg)
}
    
.breadcrumbs a {
    color: #000000; 
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #bebcba
}

.site-navigation a,
.user-navigation {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.filters {
    width: 180px;

    min-height: 687px;
    margin: 0;
    padding: 0;
}

.filters ul {
    list-style: none;
    line-height: 18px;
    margin: 0;
    padding: 0;

}

legend {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

.filter-input {
    padding-left: 45px;
    margin-bottom: 17px;
    line-height: 18px;
}

.filter-input label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #663d15;
}

.filter-input:disabled + label {
    color: #bebcba;
    opacity: 0.5
}

.filter-input-checkbox + label::before   {
    content: "";
    position: absolute;
    left: -41px;
    top: -2px;
    width: 20px;
    height: 20px;

    border: 2px solid #000000;
}
.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -35px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("../img/cross.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -41px;
    top: -2px;
    width: 20px;
    height: 20px;

    border: 2px solid #000000;
    border-radius: 50%;
}
.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -35px;
    top: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000000;
}



.filters fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

}

.catalog {
    width: 700px;
    margin: 0;
    padding: 0;
    min-height: 687px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap; 

    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    list-style: none;
}

.catalog-item {
    margin: 0;
    padding: 0;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;

    min-height: 285px;

    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.catalog-item-prewiew {
    display: flex;
    flex-direction: column-reverse;
}
.catalog-item-prewiew p {
    margin: 0;
    padding: 0;
}
.catalog-item-prewiew h3 {
    margin: 15px;
    padding: 0;
}


.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
 
.catalog-category {
    text-transform: none;
}

.catalog-item-price {
    margin: 0 15px 15px 15px;
    padding: 0;
    display: flex;
}

.catalog-item-price b {
    width: 109px;
    margin: 0;
    background-color: #e5e5e5;
    text-align: center;
    font-size: 14px;
    line-height: 43px;
}

.catalog-item-price .button {
    width: 78px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 10px 0;
}

.catalog-price {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    margin-bottom: 60px;
}
.catalog-price b {
    background-color: #e5e5e5;
    width: 109px;
    padding: 10px 0;
}
.catalog-price .button {
    width: 78px;
    padding: 10px 0;
}

.title-set {
    margin-bottom: 30px;
}
.set-content {
    margin: 0;
    padding: 0;
    
}
.set-content li {
    padding-left: 20px;
    position: relative;
}
.set-content li::before {
    content: '';
    position: absolute;
    width: 8px; 
    height: 8px;
    transform: rotate(45deg);
    background-color: #000000;
    left: 3px;
    top: 8px;
}



 .pagination-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 47px;
}
 .pagination-item a {
    display: block;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 19px;
    margin-right: 5px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a,
.pagination-item-current a:hover  {
    background-color: #ffffff;
    color: #000000
}

.inner-page .main-footer {
    margin-top: 45px;
    
}


/*catalog-item*/
.product-photo {
    width: 460px;

    min-height: 677px;
}

.product-info {
    width: 390px;

    min-height: 677px;
}

.product-discription {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.product-text {
    margin: 0;
    margin-bottom: 40px;
}

.product-photo-preveiw {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-photo-full {
    width: 460px;
    height: 498px;
}

.product-photo-preveiw li {
    width: 140px;
    height: 149px;
    margin-right: 20px;
}

.product-photo-preveiw li:nth-child(3n) {
    margin-right: 0;
}

.product-photo-full,
.product-photo-preveiw li {
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1)
}

.product-photo-full img:hover,
.product-photo-preveiw li:hover {
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)
}

.product-article {
    color: #aeaeae;
    text-align: right;
}

.product-info h3 {
    font-size: 24px;
    line-height: 30px;
}

.product-info ul {
    list-style: none;
}


.modal {
    position: fixed;
    color: #000000;
    top: 50%;
    left: 50%;

    background-color: #f8f5f2;
    background-image: url("../img/back-block.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
}

.modal-login {
    display: none;

    width: 300px;
    margin-top: -120px;
    margin-left: -230px;
    padding: 50px 80px;
}

.modal h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 25px;
}
.modal h2 + p {
    margin-bottom: 15px;
}
.login-icon-user, .login-icon-password {
    margin: 0;
    padding: 10px 15px;
    width: 266px;
    border: 2px solid #000000;
}
.login-icon-user::placeholder,
.login-icon-password::placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
}
.login-icon-user::placeholder {
    background-image: url("../img/login-logo.png");
    background-repeat: no-repeat;
    background-position: 100% 50%; 
}
.login-icon-password::placeholder {
    background-image: url("../img/password-logo.png");
    background-repeat: no-repeat;
    background-position: 100% 50%; 
}
.login-password-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}
.modal .button {
    width: 100%;
}
.login-checkbox {
    padding-left: 30px;
}

#login-password-info + .checkbox-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
}
#login-password-info:checked + .checkbox-indicator::after,
#login-password-info:checked + .checkbox-indicator::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 2px;

    width: 15px;
    height: 3px;
    background-color: #000000;
}
#login-password-info:checked + .checkbox-indicator::after {
    transform: rotate(45deg);
}

#login-password-info:checked + .checkbox-indicator::before {
    transform: rotate(-45deg)
}

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;

    font-size: 0;
    border: 0;
    background-image: url("../img/cross-light.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    cursor: pointer;
}

.modal-map {
    display: none;
    width: 766px;
    height: 560;
    margin-top: -280px;
    margin-left: -383px;
    border: 7px solid #ffffff;
}
.modal-map p {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    margin: 0;
}
.modal-map iframe {
    position: relative;
    z-index: 2;

    border: none;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus,
.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.login-form input::placeholder {
    color: grey;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}




/*Price*/

.inner-content {
    margin-bottom: 75px;
}
.inner-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 30px;
}
.inner-content h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
}
.inner-content p {
    margin: 14px 0;
}

.class-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.class-list li {
    padding-left: 20px;
    margin-bottom: 15px;
    position: relative;
}
.class-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: translateY(-50%) rotate(45deg);
}

.price-table {
    border-collapse: collapse;
    width: 100%;
}
.price-table td {
    border: 2px solid #000000;
    padding: 10px 20px;
    width: 50%;

}
.price-table td:last-child {
    text-align: center;
}

.inner-content .big-heading {
    display: flex;
    align-items: center;
    
    margin-top: 55px;
    margin-bottom: 65px;

    font-size: 48px;
    line-height: 48px;
    text-align: center;
}
.big-heading::before {
    margin-right: 25px;
}
.big-heading::after {
    margin-left: 25px;
}
.big-heading::before,
.big-heading::after {
    content: '';

    flex-grow: 1;
    flex-shrink: 0;

    width: 50px;
    height: 2px;
    background-color: #000000;
    
}


.inner-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0; 
}
.inner-columns > h2:first-child {
    width: 100%;
    margin-top: 0;
}
.inner-columns-left,
.inner-columns-right {
    width: 460px;
}
.inner-columns-left *:first-child,
.inner-columns-right *:first-child {
    margin-top: 0;
}
.inner-columns-left *:last-child,
.inner-columns-right *:last-child {
    margin-bottom: 0;
}
.price-text {
    width: 400px;
}

@keyframes bounce {
    0% {transform: translateY(-2000px)};
    70% {transform: translateY(30px)};
    90% {transform: translateY(-20px)};
    100% {transform: translateY(0)};
}
.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}

@keyframes shake {
    0%, 100%                {transform: translateX(0)};
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px)};
    20%, 40%, 60%, 80%      {transform: translateX(10px)};
}
.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}

