body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;

    background-color: #000000;
    background-image: url("../img/layer.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page {
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("../img/back-block.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
 
    background-color: #000000;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.site-navigation-current {
    border-bottom: 4px solid #ffffff
}

.features-list {
    list-style: none;
}

.feature-item {
    text-align: center;
}

.feature-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.index-columns {
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("img/back-block.jpg");
    background-repeat: repeat;
    background-position: 0 0;
}

.index-column h2 {
    font-size: 30px;
    line-height: 42px;
}
/*дописать код*/
.news-list {
    list-style: none
}

.news-list time {
    text-transform: none;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.button {
    font: inherit; 

    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    border: none;
    background-color: #000000;
    color: #ffffff;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.appointment-item input {
    border: 2px solid #000000;
    font: inherit;
    background-color: transparent; 
}

.appointment-item input:focus {
    border: 2px solid #663d15;
}

.main-footer {
    color: #ffffff;

    background-color: #252525;
    background-image: url("../img/footer-layer.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
    background-color: #ffffff;
}

.modal {
    color: #000000;

    background-color: #f8f5f2;
    background-image: url("../img/back-block.jpg");
    background-position: 0 0 ;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus,
.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}

/*catalog*/
.page-title {
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    color: #000000; 
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #bebcba
}

.site-navigation a,
.user-navigation {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.filter ul {
    list-style: none;
    line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #663d15;
}

.filter-input:disabled + label {
    color: #bebcba;
    opacity: 0.5
}

.filter fieldset {
    border: none;
}

.catalog-list {
    list-style: none;
}

.catalog-item {
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
 
.catalog-category {
    text-transform: none;
}

.catalog-item-price b {
    background-color: #e5e5e5;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
} 

.catalog-item-price .button {
    line-height: 20px;
    color: #ffffff;
}

 .pagination-list {
    list-style: none;
}
 .pagination-item a {
    background-color: #000000;
    color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a,
.pagination-item-current a:hover  {
    background-color: #ffffff;
    color: #000000
}

